---
title: 'About'
description: 'Learn about MM.css, get to know people behind this tool and find out guidelines for using MM.css logo and name.'
layout: 'page'
---

block page-content
  .container-readable
    p.
      MM.css is a minimal modern CSS Framework built upon <a href="http://sass-lang.com/" target="_blank">Sass</a>. Build fast, modern and mobile friendly sites without the bloat of JavaScript libraries.

    p.
      Primary goal of MM.css is to be a small size CSS library and yet provide enough styles and components for building a modern website.
      Licensed under <a href="#{site.github}/blob/master/LICENSE.md" target="_blank">MIT license</a>, you are free to use this CSS framework for your personal as well as commercial projects.
    p.
      This site itself is built entirely with MM.css. No additional stylesheets are used.

    h2#people People
    hr
    p MM.css is maintained by the <a href="http://kunruchcreations.com/" target="_blank">KunRuch Creations</a> team. Find below key people invloved with this project:
      div
        .grid.mt-4
          .col-fixed.mr-4
            img(src="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=112&d=mm&r=g").thumbnail-sm.border-circle
          .col
            h3.mt-0 Kanishk Kunal
            div.text-muted.text-small
              a(href="https://twitter.com/kanishkkunal", target="_blank")
                | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> @kanishkkunal

        .grid.mt
          .col-fixed.mr-4
            img(src="https://secure.gravatar.com/avatar/0c7120ee72d4031538d8bf0b0a39a803?s=112&d=mm&r=g").thumbnail-sm.border-circle
          .col
            h3.mt-0 Monika Ratan
            div.text-muted.text-small
              a(href="https://twitter.com/monikaratan", target="_blank")
                | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> @monikaratan

    h2#branding Branding
    hr
    p Kindly follow the following brand guidelines and use the given assets when writing about MM.css or referring to it in your projects.
    h3#branding-name Name
    p When referring to MM.css you can either use <strong>MM.css</strong> or <strong>mm.css</strong>.
    h3#branding-logo Logo
    p.
      Use the following SVG or PNG logo when denoting MM.css. Kindly don't
      change the colors as the same logo with different colors could mean a different project (See: <a href="http://mmpilot.kunruchcreations.com/" target="_blank">MMPilot</a>)

    p.text-center
      span.aligncenter
        img(src="/img/mmcss-180x180.png")
      .grid.gutters
        .col
          a.button.button-light(href="/img/mmcss.png", target="_blank", style="width:100%;", download) Download PNG
        .col
          a.button.button-light(href="/img/mmcss.svg", target="_blank", style="width:100%;", download) Download SVG
    h3#branding-colors Colors
    p Following colors represent MM.css and can be used in relation with it.
    div.py.text-center
      div(style="display:inline-block;")
        a(href="https://superdevresources.com/tools/color-converter/#040c15", target="_blank")
          div(style="background-color:#040c15;width:120px;height:120px;border-radius:3px;margin-right:3px;")
          p.text-small.text-center #040c15
      div(style="display:inline-block;")
        a(href="https://superdevresources.com/tools/color-converter/#357bd8", target="_blank")
          div(style="background-color:#357bd8;width:120px;height:120px;border-radius:3px;margin-left:3px;")
          p.text-small.text-center #357bd8

    .py
      p For any queries kindly <a href="/contact/">contact us</a>.
