---
title: 'Contact'
description: 'Contact the MM.css team'
layout: 'page'
---

block page-content
  .container-readable
    p.text-center Please use the #[a(href=site.github + "/issues/new", target="_blank") Issues] section to report issues in MM.css.
      br
      | If you have any other query or suggestion then kindly get in touch using <a href="https://twitter.com/kanishkkunal" target="_blank">twitter</a>.