---
title: 'Minimal Modern CSS Framework'
description: 'A Minimal Modern CSS Framework for front-end Web Development. WordPress Compatible and built with SASS/SCSS'
layout: 'default'
---

block content
  div.section-hero.sub-header.text-center(style="background:url(img/flat-space-background.jpg) no-repeat top center;background-size: cover;")
    .container-content
      h2.h1.text-white.text-shadow Minimal Modern CSS Framework
      p.text-center.text-white.text-shadow Built with SCSS - #{data.stats.size}KB size gzipped - MIT License
      .section.text-center
        code(style="font-size:100%; padding: 0 32px; display: inline-block; margin: 32px 16px 0 0; line-height: 32px;") npm install mmcss --save
        span.text-white or
        a.button(href="#quickstart", style="margin-left: 16px;") Quickstart Guide
  .section-medium.highlight
    .container-content
      .grid
        .one-third
          .media.media-left
            .thumbnail.thumbnail-small.thumbnail-rounded(style="background-color:#8CC152;")
              <svg class="icon icon-desktop"><use xlink:href="#icon-desktop"></use></svg>
            .media-body
              h3 Minimalist Design
              p MM.css is built with minimalism in mind. Build modern and fast websites which users love.
        .one-third
          .media.media-left
            .thumbnail.thumbnail-small.thumbnail-rounded(style="background-color:#D770AD;")
              <svg class="icon icon-folder-o"><use xlink:href="#icon-folder-o"></use></svg>
            .media-body
              h3 Lightweight
              p Just 4KB compressed size. Right amount of styles and components to build a great looking website.

        .one-third
          .media.media-left
            .thumbnail.thumbnail-small.thumbnail-rounded(style="background-color:#967ADC;")
              <svg class="icon icon-tablet"><use xlink:href="#icon-tablet"></use></svg>
            .media-body
              h3 Mobile Friendly
              p MM.css is mobile friendly CSS Framework. Build responsive websites for all screens with ease.

        .one-third
          .media.media-left
            .thumbnail.thumbnail-small.thumbnail-rounded(style="background-color:#F6BB42;")
              <svg class="icon icon-thumbs-o-up"><use xlink:href="#icon-thumbs-o-up"></use></svg>
            .media-body
              h3 Zero JavaScript
              p No dependency on any JavaScript libraries. MM.css relies on pure CSS to be responsive.

        .one-third
          .media.media-left
            .thumbnail.thumbnail-small.thumbnail-rounded(style="background-color:#0087be;")
              <svg class="icon icon-github"><use xlink:href="#icon-wordpress"></use></svg>
            .media-body
              h3 WordPress Compatible
              p MM.css is 100% compatible with WordPress. No need of writing nav-walkers or other workarounds.


        .one-third
          .media.media-left
            .thumbnail.thumbnail-small.thumbnail-rounded(style="background-color:#37BC9B;")
              <svg class="icon icon-github"><use xlink:href="#icon-check"></use></svg>
            .media-body
              h3 MIT License
              p Open source code with open and friendly MIT License. Free for personal as well as commercial use.

  #quickstart.section-medium
    .container-readable
      h2.section-title.text-center Quickstart Guide
      p You can download MM.css
        a(href=site.github + "releases/latest")  latest release
        |  and use <code>dist/mm.min.css</code> in your project or use it via <a href="https://unpkg.com/mmcss/dist/mm.min.css" target="_blank">CDN</a> as shown below.
      pre
        code.text-small &lt;link href="https://unpkg.com/mmcss/dist/mm.min.css" rel="stylesheet"&gt;

      p However, we recommend that you use the source file <code>mm.scss</code> in your project if you want to add your own style overrides. See below for instructions.

      h3.h4 Install via npm
      pre
        code.text-small npm install mmcss --save

      h3.h4 Including mm.css in your projects
      p Ensure <code>node_modules</code> is added to your Sass <a href="http://stackoverflow.com/questions/6502313/sass-import-a-file-from-a-different-directory" target="_blank">includes/load_paths</a>. If you are using <a href="https://mmpilot.kunruchcreations.com/" target="_blank">MMPilot</a> for building your project, this would have already been taken care for you.
      p If you are using Sass (recommended) to build your stylesheets then add the following code
      pre
        code.text-small @import 'mmcss/src/mm';
      p You can also include the dist (compiled and minified) version directly if you don't want to do any style overrides.
      pre
        code.text-small @import 'mmcss/dist/mm';

      h3.h4 Starter Template
      p.
        Here is a basic starter HTML template that can be used when building a webpage with the MM.css framework:

      pre
        code.text-small
          include:escape-html ./_includes/_basic-template.html

      h3.h4 Next Steps
      ul.bare
        li <a href="/docs">View Documentation</a> - Learn about CSS styles and components offered by MM.css.
        // li <a href="/guides">Read Guides</a> - Tutorials for using MM.css to build your websites.
        // li <a href="/templates">Templates</a> - Ready made templates to help you get started quickly with your own Web Design projects.
        li <a href="/showcase">Showcase</a> - See how other sites are using MM.css.
