---
title: 'Minimal Modern CSS Framework'
description: 'A Minimal Modern CSS Framework for front-end Web Development. WordPress Compatible and built with SASS/SCSS'
layout: 'default'
---

block content
  div.py-5.text-center
    .container-content
      h2.h1 Minimal Modern CSS Framework
      p.text-center.text-large.mt Lightweight, Responsive &amp; zero JavaScript dependency
      .py.text-center.text-large
        a.button.button.button-primary.mr-2(href="/docs") Documentation
        a.button(href=site.github, target="_blank") <svg class="icon icon-github mr-1"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-github"></use></svg> GitHub
      p.text-gray-dark.mb Currently v#{data.stats.version}. Pre-release version
  .p-4.bg-light
    .container-content
      .grid.gutters-large
        .col.col-4.col-md-6.col-sm-12.d-flex.my-4
          .grid
            .col-fixed.mr-4
              .thumbnail-sm.border-circle.bg-teal.text-white
                <svg class="icon icon-desktop"><use xlink:href="#icon-desktop"></use></svg>
            .col
              h2.h3.mt-0 Minimalist Design
              p MM.css is built with minimalism in mind. Build modern and fast websites which users love.
        .col.col-4.col-md-6.col-sm-12.d-flex.my-4
          .grid
            .col-fixed.mr-4
              .thumbnail-sm.border-circle.bg-pink.text-white
                <svg class="icon icon-folder-o"><use xlink:href="#icon-folder-o"></use></svg>
            .col
              h2.h3.mt-0 Lightweight
              p Just #{data.stats.size}KB compressed size. Right amount of styles and utilities to build a great looking website.

        .col.col-4.col-md-6.col-sm-12.d-flex.my-4
          .grid
            .col-fixed.mr-4
              .thumbnail-sm.border-circle.bg-purple.text-white
                <svg class="icon icon-tablet"><use xlink:href="#icon-tablet"></use></svg>
            .col
              h2.h3.mt-0 Mobile Friendly
              p MM.css is mobile friendly CSS Framework. Build responsive websites for all screens with ease.

        .col.col-4.col-md-6.col-sm-12.d-flex.my-4
          .grid
            .col-fixed.mr-4
              .thumbnail-sm.border-circle.bg-yellow.text-white
                <svg class="icon icon-thumbs-o-up"><use xlink:href="#icon-thumbs-o-up"></use></svg>
            .col
              h2.h3.mt-0 Zero JavaScript
              p No dependency on any JavaScript libraries. MM.css relies on pure CSS to be responsive.

        .col.col-4.col-md-6.col-sm-12.d-flex.my-4
          .grid
            .col-fixed.mr-4
              .thumbnail-sm.border-circle(style="background-color:#0087be;").text-white
                <svg class="icon icon-wordpress"><use xlink:href="#icon-wordpress"></use></svg>
            .col
              h2.h3.mt-0 WordPress Compatible
              p MM.css is 100% compatible with WordPress. No need of writing nav-walkers or other workarounds.


        .col.col-4.col-md-6.col-sm-12.d-flex.my-4
          .grid
            .col-fixed.mr-4
              .thumbnail-sm.border-circle.bg-green.text-white
                <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
            .col
              h2.h3.mt-0 MIT License
              p Open source code with open and friendly MIT License. Free for personal as well as commercial use.

  #quickstart.py-5
    .container-readable
      h2.mt-2.text-center Quickstart Guide
      p You can download MM.css
        a(href=site.github + "/releases/latest")  latest release
        |  and use <code>dist/mm.min.css</code> in your project or use it via <a href="https://unpkg.com/mmcss/dist/mm.min.css" target="_blank">CDN</a> as shown below.
      pre
        code.text-small &lt;link href="https://unpkg.com/mmcss/dist/mm.min.css" rel="stylesheet"&gt;

      p However, we recommend that you use the source file <code>mm.scss</code> in your project if you want to add your own style overrides. See below for instructions.

      h3.h4 Install via npm
      pre
        code.text-small npm install mmcss --save

      h3.h4 Including mm.css in your projects
      p Ensure <code>node_modules</code> is added to your Sass <a href="http://stackoverflow.com/questions/6502313/sass-import-a-file-from-a-different-directory" target="_blank">includes/load_paths</a>. If you are using <a href="https://mmpilot.kunruchcreations.com/" target="_blank">MMPilot</a> for building your project, this would have already been taken care for you.
      p If you are using Sass (recommended) to build your stylesheets then add the following code
      pre
        code.text-small @import 'mmcss/src/mm';

      p You can also include the dist (compiled and minified) version directly if you don't want to do any style overrides.
      pre
        code.text-small @import 'mmcss/dist/mm';

      h3.h4 Starter Template
      p.
        Here is a basic starter HTML template that can be used when building a webpage with the MM.css framework:

      pre
        code.text-small
          include:escape-html ./_includes/_basic-template.html

      h3.h4 Next Steps
      ul.bare
        li <a href="/docs">View Documentation</a> - Learn about CSS styles and components offered by MM.css.
        // li <a href="/guides">Read Guides</a> - Tutorials for using MM.css to build your websites.
        // li <a href="/templates">Templates</a> - Ready made templates to help you get started quickly with your own Web Design projects.
        li <a href="/showcase">Showcase</a> - See how other sites are using MM.css.
