extends ./_layouts/_layout-page.pug

block vars
    - var title = 'Showcase'
    - var description = 'Find here some of the best static sites built using MMCSS'

block page-content
    .section-large
      p.text-large.text-center Coming Soon..
    .section
      p.text-center While you wait, check out this site itself which has been built using MMCSS.
      p.text-center Want to submit a site to showcase? <a href="/contact/">Get in touch</a>
