extends ./_layouts/_layout-page.pug

block vars
    - var title = 'Templates'
    - var description = 'Use these MMCSS templates to get started quickly with your own Web Design project.'

block page-content
    .section-large
      p.text-large.text-center Coming Soon..
    .section
      p.text-center Want a template you don't see here? <a href="http://kunruchcreations.com/about-us/contact/" target="_blank">Get in touch</a>
