blockquote {
	background: $color-neutral-light;
	border-left: $size-default-radius solid $color-neutral-dark;
	margin-left: 0;
	margin-right: 0;
	padding: $size-element-spacing;

	& *:last-child {
		margin: 0;
	}
}