.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: $color-primary;
	border: 1px solid $color-primary;
	border-radius: $size-default-radius;
	box-sizing: border-box;
	color: $color-plain;
	cursor: pointer;
	display: inline-block;
	font-weight: $font-weight-normal;
	letter-spacing: .05em;
	line-height: 2.5;
	padding: 0 $size-element-spacing;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: $color-primary-dark;
		border-color: $color-primary-dark;
		color: $color-plain;
		outline: 0;
	}

	&.button-ghost {
		color: $color-primary;
		background-color: transparent;

		&:hover,
		&:focus {
			color: $color-plain;
			background-color: $color-primary;
			border-color: $color-primary;
		}
	}

	&.button-rounded {		
		border-radius: 3rem;		
		padding: 0 (1.5*$size-element-spacing);
	}

	&.button-text {
		color: $color-primary;
		background-color: transparent;
		border-color: transparent;

		&:hover,
		&:focus {
			color: $color-primary-dark;
			background-color: transparent;
			border-color: transparent;
		}
	}
}