code, kbd, tt, var, pre {
	font-family: $font-pre;
	font-size: 86%;
}

code, kbd, tt {
	background: $color-neutral-light;
	border-radius: $size-default-radius;
	padding: 3px 8px;
	white-space: nowrap;
}

pre {
	background: $color-background-light;
	border: 1px solid $color-default-border;
	border-left: $size-default-radius solid $color-primary;
    line-height: 1.8;
    padding: $size-element-spacing-small;

	& > code {
		background: transparent;
        font-size: inherit;
        padding: 0;
		border: 0;
		border-radius: 0;
		display: block;
		white-space: pre;
	}
}