input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: transparent;
  border: 2px solid $color-dark-border;
  border-radius: $size-default-radius;
  box-shadow: none;
  font-weight: $font-weight-normal;
  box-sizing: border-box;
  padding: 8px 12px; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;
  transition: border-color 0.15s ease-in-out;

  &:focus {
    border: 2px solid $color-primary;
    outline: 0;
  }
}

label,
legend {
  font-weight: $font-weight-bold;
  display: block;

  @include element-spacing(1);

  & + * {
    //Anything after label (mostly input elements)
    margin-top: 1em;
  }
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

.label-inline {
  font-weight: normal;
  display: inline-block;
  margin-left: $size-element-spacing-small / 2;
}
