ol,
ul {
  @include element-spacing(1);
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

li > ol,
li > ul {
  margin-bottom: 0;
  margin-top: $size-element-spacing/5;
  margin-left: $size-element-spacing/3;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 $size-element-spacing $size-element-spacing;
}

dt,
li {
  margin-bottom: $size-element-spacing/5;
}
