
// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
	width: 100%;
    margin: 0 0 $size-element-spacing;
}

th,
td {
	border-bottom: 1px solid $color-gray;
	padding: $size-element-spacing-small;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}