
// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
	width: 100%;	
	@include element-spacing(1);
}

th,
td {
	border-bottom: 1px solid $color-default-border;
	padding: $size-element-spacing-small;
	text-align: left;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}
