.border {
  border: 1px solid $color-default-border;
}

.border-top {
  border-top: 1px solid $color-default-border;
}

.border-right {
  border-right: 1px solid $color-default-border;
}

.border-bottom {
  border-bottom: 1px solid $color-default-border;
}

.border-left {
  border-left: 1px solid $color-default-border;
}

.border-0 {
  border: 0;
}

.border {
  @include modifiers($colors, "border-color");
}

.border-hard {
  border-radius: 0;
}

.border-soft {
  border-radius: $size-default-radius;
}

.border-rounded {
  border-radius: 1em;
}

.border-circle {
  border-radius: 50%;
}
