.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.border {
  border: 1px solid $color-default-border;
}

.border-dark {
  border: 1px solid $color-dark-border;
}

.shadow {
  box-shadow: 0 1px 4px 0 $color-default-shadow;
}

.shadow-hover {
  transition: box-shadow .25s ease-out;

  &:hover {
    box-shadow: 0 0.3em 1em 0 $color-default-shadow;
  }
}