// Spacing utilities
$size-spacer: $size-element-spacing-small;

.mr-0 {
  margin-right: 0 !important;
}

.mr-small {
  margin-right: $size-spacer * 0.5;
}

.mr {
  margin-right: $size-spacer;
}

.mr-medium {
  margin-right: $size-spacer * 1.5;
}

.mr-large {
  margin-right: $size-spacer * 3;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-small {
  margin-top: $size-spacer * 0.5;
}

.mt {
  margin-top: $size-spacer;
}

.mt-medium {
  margin-top: $size-spacer * 1.5;
}

.mt-large {
  margin-top: $size-spacer * 3;
}

// padding
.px-small {
  padding-left: $size-spacer * 0.5!important;
  padding-right: $size-spacer * 0.5!important;
}

.px {
  padding-left: $size-spacer!important;
  padding-right: $size-spacer!important;
}

.px-medium {
  padding-left: $size-spacer * 1.5!important;
  padding-right: $size-spacer * 1.5!important;
}

.py-small {
  padding-top: $size-spacer * 0.5!important;
  padding-bottom: $size-spacer * 0.5!important;
}

.py {
  padding-top: $size-spacer!important;
  padding-bottom: $size-spacer!important;
}

.py-medium {
  padding-top: $size-spacer * 1.5!important;
  padding-bottom: $size-spacer * 1.5!important;
}
