// Spacing utilities

.mr-0 {
  margin-right: 0!important;
}

.mr-small {
  margin-right: $size-spacer * 0.5;
}

.mr {
  margin-right: $size-spacer;
}

.mr-medium {
  margin-right: $size-spacer * 1.5;
}

.mr-large {
  margin-right: $size-spacer * 3;
}


.mt-0 {
  margin-top: 0!important;
}

.mt-small {
  margin-top: $size-spacer * 0.5;
}

.mt {
  margin-top: $size-spacer;
}

.mt-medium {
  margin-top: $size-spacer * 1.5;
}

.mt-large {
  margin-top: $size-spacer * 3;
}
