// Spacing utilities

.mr-0 {
  margin-right: 0!important;
}

.mr-small {
  margin-right: $size-spacer * 0.5;
}

.mr {
  margin-right: $size-spacer;
}

.mr-medium {
  margin-right: $size-spacer * 1.5;
}

.mr-large {
  margin-right: $size-spacer * 3;
}


.mt-0 {
  margin-top: 0!important;
}

.mt-small {
  margin-top: $size-spacer * 0.5;
}

.mt {
  margin-top: $size-spacer;
}

.mt-medium {
  margin-top: $size-spacer * 1.5;
}

.mt-large {
  margin-top: $size-spacer * 3;
}

// padding
.px-small {
  padding-left: $size-spacer * 0.5;
  padding-right: $size-spacer * 0.5;
}

.px {
  padding-left: $size-spacer;
  padding-right: $size-spacer;
}

.py-small {
  padding-top: $size-spacer * 0.5;
  padding-bottom: $size-spacer * 0.5;
}

.py {
  padding-top: $size-spacer;
  padding-bottom: $size-spacer;
}