// Text helper classes

/* text sizes */

.text-small {
  @include font-size($size-small-text);
}

.text-large {
  @include font-size($size-large-text);
}

/* text weights */

.text-normal {
  font-weight: $font-weight-normal;
}

.text-bold {
  font-weight: $font-weight-bold;
}

.text-medium {
  font-weight: $font-weight-medium;
}

.text-light {
  font-weight: $font-weight-light;
}

/* text alignments */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* text colors */

.text-muted {
  color: $color-text-muted;
}

.text-white {
  color: #fff;
}

.text-shadow {
  text-shadow: 0 1px 2px $color-default-shadow;
}
