// Text helper classes

/* text sizes */

.text-small {
  @include font-size($size-small-text);
}

.text-large {
  @include font-size($size-large-text);
}

/* font weights */

.font-normal {
  font-weight: $font-weight-normal;
}

.font-bold {
  font-weight: $font-weight-bold;
}

.font-medium {
  font-weight: $font-weight-medium;
}

.font-thin {
  font-weight: $font-weight-thin;
}

/* text alignments */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* text colors */

.text-muted {
  color: $color-text-muted;
}

.text {
  @include modifiers($colors, "color");
}

.text-shadow {
  text-shadow: 0 1px 2px $color-default-shadow;
}
