@import "text";
@import "spacing";

// Bare list style
ul.bare {
  list-style: none;
  padding-left: 0;
}

// Highlight any element with background colors

.highlight {
  background-color: $color-background-light;
}

.highlight-dark {
  background-color: $color-background-dark;
  color: $color-text-light;
}

// Alignments for elements
.alignleft {
  display: inline;
  float: left;
  margin-right: $size-element-spacing;
}

.alignright {
  display: inline;
  float: right;
  margin-left: $size-element-spacing;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// Floats

.float-right {
  float: right;
}

.float-left {
  float: left;
}
// Clear floats with .clearfix

.clearfix {
  *zoom: 1;

  &::after,
  &::before {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}
//Responsive visiblity helpers
@include desktop {
  .hidden-desktop {
    display: none;
  }
}

@include mobile {
  .hidden-mobile {
    display: none;
  }
}
