/* Flexbox based grid system. Need to specify the responsivenes with col-* */

.grid {
  @include container(100%);

  display: flex;
  flex-wrap: wrap;

  &.gutters {
    padding-left: $size-element-spacing-small;
    padding-right: $size-element-spacing-small;

    > .row {
      margin-left: -1 * $size-element-spacing-small;
      margin-right: -1 * $size-element-spacing-small;
    }

    > .row > .col,
    > .row > .col-flex {
      padding-left: $size-element-spacing-small;
      padding-right: $size-element-spacing-small;
    }
  }
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: block;
  max-width: 100%;
}

.col-flex {
  flex: 1;
  width: 100%;
}

.w-10 {
  flex: none;
  width: 10%;
}

.w-20 {
  flex: none;
  width: 20%;
}

.w-25 {
  flex: none;
  width: 25%;
}

.w-30 {
  flex: none;
  width: 30%;
}

.w-33 {
  flex: none;
  width: 33.3333%;
}

.w-40 {
  flex: none;
  width: 40%;
}

.w-50 {
  flex: none;
  width: 50%;
}

.w-60 {
  flex: none;
  width: 60%;
}

.w-66 {
  flex: none;
  width: 66.6666%;
}

.w-70 {
  flex: none;
  width: 70%;
}

.w-75 {
  flex: none;
  width: 75%;
}

.w-80 {
  flex: none;
  width: 80%;
}

.w-90 {
  flex: none;
  width: 90%;
}

.w-100 {
  flex: none;
  width: 100%;
}