extends ./_layout-root.pug

block header
  header.header.border-bottom
    .container
      .header-left
        a(href='/').site-branding
          h1.title MM.css
      .menu-toggle
        input(type="checkbox")#menu-toggle
        label(for="menu-toggle").header-right
          span.css-icon-hamburger
            span Toggle
          span Menu
        .menu-toggle-content
          +menu(data.menu.main, 'menu')
          .header-right
            +social(data.menu.social)

block content
  != page.content

block footer
  footer.bg-light.border-top.mt.text-small
    .container-content.py-5.text-center
      span.aligncenter
        a(href=site.url)
          img(src="/img/mmcss-180x180.png", width="90", height="90")
      .h4.mt-2 Minimal Modern CSS Framework
      p
        +social(data.menu.social)
      p Built with <a href="#{site.url}">MM.css</a> &amp; <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a> for the modern web by <a href="http://kunruchcreations.com/">KunRuch Creations</a>.
        br
        | Licensed under the <a href="#{site.github}/blob/master/LICENSE.md" target="blank">MIT License</a>.
