extends ./_layout-default.pug

block content
  article
    .sub-header.section-medium.text-center
      .container-readable
        h1.mt-0 #{page.title}
        p.text-muted.text-large #{page.description}
    .section!= page.content