extends ./_layout-main.pug

block content
  article
    .sub-header.section-medium.text-center
      .container-readable
        h1.section-title #{title}
        p.text-muted.text-large #{description}
    .section
      block page-content