---
title: 'Basic Template'
description: 'Basic starter template to include MM.css in your projects.'
layout: 'docs'
---

block docs-content
  p.
    Here is a basic starter HTML template that can be used when building a webpage with the MM.css framework:

  pre
    code.text-small
      include:escape-html ./../_includes/_basic-template.html

  p Next, you may want to refer to these <a href="/docs/layout-examples/">MM.css layout examples</a> which detail how MM.css framework can be used to structure a page.
  p You may also find other advanced  <a href="/templates/">MM.css templates</a> for use in your projects.