extends ./../_layouts/_layout-docs.pug

block vars
    - var title = 'Basic Template'
    - var description = 'Basic starter template to include MMCSS in your projects.'

block docs-content
   .section
    p.text-large.text-center Docs are being written..
