---
title: 'Basic Template'
description: 'Basic starter template to include MMCSS in your projects.'
layout: 'docs'
---

block docs-content
  p.
    Here is a basic starter HTML template that can be used when building a webpage with the MMCSS framework:

  pre
    code.text-small
      include:escape-html ./../_includes/_basic-template.html
  
  p Next, you may want to refer to these <a href="/docs/layout-examples/">MMCSS layout examples</a> which detail how MMCSS framework can be used to structure a page.
  p You may also find other advanced  <a href="/templates/">MMCSS templates</a> for use in your projects.