---
title: 'Cards'
description: 'Cards Components documentation for MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  div
    p Cards are simple way to present data in a boxed container. Default Cards does not apply any style to the cards and you are free to use utility classes to create cards of different styles.

    h2 Cards With Border
    p Use the <code>.border</code> or <code>.border-dark</code> utility classes to apply border to the card.
    .code-example
      .code-output
        .grid.gutters.mt-medium
          .col
            .card.border
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with light border.
              .card-footer
                a.button.button-primary Buy Now
          .col
            .card.bg-light.border-dark
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with light background and dark border.
              .card-footer
                a.button.button-primary Buy Now
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Cards With Shadow
    p Use the <code>.shadow</code> and <code>.shadow-hover</code> utility classes to apply shadow to the card.
    .code-example
      .code-output
        .grid.gutters.mt-medium
          .col
            .card.shadow
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with shadow.
              .card-footer
                a.button.button-primary Buy Now
          .col
            .card.shadow.shadow-hover
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with shadow and shadow hover.
              .card-footer
                a.button.button-primary Buy Now
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Cards With Background Color
    p Use color utility classes to specify background color of the card.
    .code-example
      .code-output
        .grid.gutters.mt-medium
          .col
            .card.bg-light
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with light background.
              .card-footer
                a.button.button-primary Buy Now
          .col
            .card.bg-dark
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with dark background.
              .card-footer
                a.button.button-ghost-light Buy Now
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Cards With Images
    p Use <code>.card-image</code> class to add images to card. You can give a padding if needed using <code>.px</code> utility class. Note that we have also used <code>d-flex</code> utility class to make the cards equal height.
    .code-example
      .code-output
        .grid.gutters.mt-medium
          .col.col-4.d-flex
            .card.shadow
              .card-image
                img(src="/img/stock/space1.jpg")
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-body Card Body with Image on top.
              .card-footer
                a.button.button-primary Buy Now
          .col.col-4.d-flex
            .card.shadow
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-image
                img(src="/img/stock/space2.jpg")
              .card-body Card Body with full width image in body.
              .card-footer
                a.button.button-primary Buy Now
          .col.col-4.d-flex
            .card.shadow
              .card-header
                .h3 Card Title
                .text-muted Card subtitle
              .card-image.px
                img(src="/img/stock/space4.jpg")
              .card-body Card Body with padded image.
              .card-footer
                a.button.button-primary Buy Now
      pre
        code.
          #{'<!-- TODO -->'}