---
title: 'Cards'
description: 'Cards Components documentation for MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  div
    p Cards are simple way to present data in a boxed container. Default Cards does not apply any style to the cards and you are free to use utility classes to create cards of different styles.

    h2 Cards With Border
    p Use the <code>.border</code> or <code>.border-dark</code> utility classes to apply border to the card.
    .code-example
      .code-output
        .grid.gutters.mt-4
          .col
            .p.border.border-soft
              .h3 Card Title
              .text-muted Card subtitle
              p A simple card with border and soft edges.
              a.button.button-purple Buy Now
          .col
            .border.border-soft
              .p.bg-light
                .h4.font-medium Card Header
              .p
                div A common card design with header and footer.<br>Another line.
              .p.border-top
                a.button.button-green.mt-0.mr-1 Accept
                a.button.mt-0 Cancel
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Cards With Shadow
    p Use the <code>.shadow</code>, <code>.shadow-md</code> and <code>.shadow-hover</code> utility classes to apply shadow to the card.
    .code-example
      .code-output
        .grid.gutters.mt-4
          .col
            .p.border-soft.shadow
              .h3 Card Title
              .text-muted Card subtitle
              p Card with shadow and soft edges.
              a.button.button-red Buy Now
          .col
            .p.border-soft.shadow-md.shadow-hover
              .h3 Card Title
              .text-muted Card subtitle
              p Card with shadow-md and shadow hover.
              a.button.button-red Buy Now
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Cards With Background Color
    p Use color utility classes to specify background color of the card.
    .code-example
      .code-output
        .grid.gutters.mt-4
          .col

            .p-4.border-rounded.bg-gray-light
              .h3 Card Title
              .text-muted Card subtitle
              p Card with gray light background.
              a.button.button-green Buy Now
          .col

            .p-4.border-rounded.bg-dark.text-white
              .h3 Card Title
              .text-gray Card subtitle
              p Card with dark background.
              a.button.button-purple Buy Now
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Cards With Images
    .code-example
      .code-output
        .grid.gutters.mt-4
          .col.col-4
            .p.border.shadow-md
              h3.mt-2 Card Title
              .text-muted Card subtitle
              img.mt(src="/img/stock/space1.jpg")
              p Card with Image.
              a.button.button-teal Buy Now
          .col.col-4
            .shadow-md
              img(src="/img/stock/space2.jpg")
              .p
                h3.mt-2 Card Title
                .text-muted Card subtitle
                p Card with full width image on top.
                a.button.button-yellow Buy Now
          .col.col-4
            .shadow-md
              .p
                h3.mt-2 Card Title
              img(src="/img/stock/space4.jpg")
              .p
                div Card with full width image in body.
                a.button.button-pink Buy Now
      pre
        code.
          #{'<!-- TODO -->'}