---
title: 'Forms'
description: 'Forms Demo for MMCSS - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  form
    fieldset
      label(for='nameField') Name
      input#nameField(type='text', placeholder='John Doe')
      label(for='ageRangeField') Age
      select#ageRangeField
        option(value='0-13') 0-13
        option(value='14-17') 14-17
        option(value='18-23') 18-23
        option(value='24+') 24+
      label(for='commentField') Comment
      textarea#commentField(placeholder='Hi John Doe …')
      .clearfix
        .float-right
          input#confirmField(type='checkbox')
          label.label-inline(for='confirmField') Send a copy to yourself
        input(type='submit', value='Send')
