---
title: 'Forms'
description: 'Forms Demo for MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  form
    fieldset
      label(for='nameField') Name
      input#nameField(type='text', placeholder='John Doe')
      label(for='ageRangeField') Age
      select#ageRangeField
        option 0-18
        option 18-30
        option 30-50
        option 50+
      label(for='interestRangeField') Interest
      select#interestRangeField(multiple)
        option Sports
        option Travel
        option Music
        option Others
      label(for='commentField') Comment
      textarea#commentField(placeholder='Hi John Doe …')
      .clearfix
        .float-right
          input#confirmField(type='checkbox')
          label.d-inline.ml-2.font-normal(for='confirmField') Send a copy to yourself
        input.button(type='submit', value='Send')



  form(role='search', method='get', action='')
    input(type='search', placeholder='Search …', value='', name='s')
    .inline-icon-left
      svg.icon
        <use xlink:href="#icon-search"></use>
      input.mt-0(type='search', placeholder='Search with Icon on left …', value='', name='s')
    .inline-icon-right
      svg.icon
        <use xlink:href="#icon-search"></use>
      input.mt-0(type='search', placeholder='Search with Icon on right …', value='', name='s')

