---
title: 'Grid'
description: 'Grid Demo for MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-styles
  style.
    .grid-demo1 .grid > div > div {
      background-color: #f2f2f2;
      border: 1px solid #dedede;
      margin-top: 2px;
      margin-bottom: 2px;
      text-align: center;
      font-size: 80%;
      line-height: 2.5;
    }

    .grid-demo2 .grid span {
      display: block;
      background-color: #f2f2f2;
      border: 1px solid #dedede;
      text-align: center;
      font-size: 80%;
      line-height: 2.5;
      margin-top: 2px;
      margin-bottom: 2px;
    }

block docs-content
  h2 Auto Responsive Grid System
  p You can use <code>one-half</code>,  <code>one-third</code> or <code>one-fourth</code> to create auto responsive grid columns.
  .code-example
      .code-output
        .grid-demo1.mt
          div.grid.mt
            div.one-half
              div .one-half
            div.one-half
              div .one-half
            div.one-half
              div .one-half
            div.one-half
              div .one-half

          div.grid.mt
            div.one-third
              div .one-third
            div.one-third
              div .one-third
            div.one-third
              div .one-third
            div.one-third
              div .one-third
            div.one-third
              div .one-third
            div.one-third
              div .one-third

          div.grid.mt
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth
            div.one-fourth
              div .one-fourth

          div.grid.mt
            div.one-full
              div .one-full

  h2 Flexbox Based Grid System
  p You can use <code>col</code> or <code>col-flex</code> to create flexbox based grid columns.

  .grid-demo2
    h3 Auto Relaxed Grid Columns
    p Use <code>col-flex</code> for auto relaxed sizing of columns in grid.
    .code-example
      .code-output
        .grid.mt
            .col <span>.col</span>
            .col <span>.col</span>
            .col <span>.col</span>
        .grid.mt
            .col <span>.col</span>
            .col <span>.col</span>
            .col <span>.col</span>
            .col <span>.col</span>

    h3 Grid Columns with Width
    p Use <code>col</code> when specifying exact width of each column. Width can be specified using the width utility classes such as <code>w-10</code>, <code>w-50</code> etc.
    .code-example
      .code-output
        .grid.mt
          .col.col-3 <span>.col.col-3</span>
          .col.col-9 <span>.col.col-9</span>
          .col.col-6 <span>.col.col-6</span>
          .col.col-2 <span>.col.col-2</span>
          .col.col-4 <span>.col.col-4</span>

    h3 Grid Columns with Gutters
    p Add <code>gutters</code> or <code>gutters-small</code> to grid to create spacing between columns.
    .code-example
      .code-output
        .grid.gutters.mt
          .col
            span .col
          .col
            span .col
          .col
            span .col
          .col
            span .col
        .grid.gutters-small.mt
          .col.col-9.col-md-4.col-sm-12
            span .col
          .col.col-3.col-md-4.col-sm-12
            span .col
          .col.col-6
            span .col
          .col.col-6
            span .col