---
title: 'Grid'
description: 'Grid Demo for MMCSS - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-styles
  style.
    #grid-demo .grid > div > div {
      background-color: #eee;
      border-radius: 3px;
      margin-bottom: 24px;
      text-align: center;
      font-size: 75%;
      font-weight: 500;
      line-height: 3;
    }

block docs-content
  #grid-demo
    div.grid.section
      div.one-full
        div FULL

    div.grid.section
      div.one-half
        div HALF
      div.one-half
        div HALF
      div.one-half
        div HALF
      div.one-half
        div HALF

    div.grid.section
      div.one-third
        div ONE-THIRD
      div.one-third
        div ONE-THIRD
      div.one-third
        div ONE-THIRD
      div.one-third
        div ONE-THIRD
      div.one-third
        div ONE-THIRD
      div.one-third
        div ONE-THIRD

    div.grid.section
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
      div.one-fourth
        div ONE-FOURTH
