extends ./../_layouts/_layout-main.pug

block vars
    - var title = 'Docs'
    - var description = 'Documentation of MMCSS framework. Learn about CSS styles and components offered by MMCSS and how to use MMCSS in your projects'

block content
    .container-readable
      .section-large
        nav 
          ul
              li
                  a(href='/docs/text.html') Text
              li
                  a(href='/docs/markup-and-formatting.html') Markup and Formatting
              li
                  a(href='/docs/lists.html') Lists
              li
                  a(href='/docs/forms.html') Forms
              li
                  a(href='/docs/buttons.html') Buttons
              li
                  a(href='/docs/grid.html') Grid
              li
                  a(href='/docs/searchform.html') Search Form
      .section
        p.text-large.text-center Docs are being written..