---
title: 'Introduction'
description: 'Learn about CSS styles and components offered by MM.css and how to use MM.css in your projects.'
layout: 'docs'
---

block docs-content
  p.
    MM.css is a minimal modern CSS Framework built with <a href="http://sass-lang.com/" target="_blank">Sass</a>.
    Build fast, modern and mobile friendly sites without any dependency on JavaScript libraries.

  h2.h3 Why to use MM.css?

  h3.h4 Small Size
  p.
    MM.css is created to be a small size CSS library which can provide common mimumum styles and components for building a modern website.

  h3.h4 Works out of the box
  p.
    You can use MM.css to kick-start your web project and out of the box it will provide better styling and behaviour to HTML elements.

  h3.h4 Customizable &amp; Extendable
  p.
    Additionaly you can customize the look and feel or build upon the styles to add your own components.

  h3.h4 Zero Code Bloat &amp; JavaScript Free
  p.
    Anything that can bloat the CSS framework and is not suitable for general website style has been intentionally left out.
    Moreover, all the functionalities offered by MM.css are purely CSS i.e. no jQuery or any other JavaScript framework.

  h3.h4 Normalize.css Alternative
  p.
    MM.css also works as an opinionated <a href="https://necolas.github.io/normalize.css/" target="_blank">normalize.css</a> alternative and you dont need to add any other CSS reset libraries when using MM.css.

  h3.h4 Open Source &amp; Free
  p.
    Licensed under <a href="#{site.github}blob/master/LICENSE.md" target="_blank">MIT license</a>, you are free to use this CSS framework for your personal as well as commercial projects.
