---
title: 'Introduction'
description: 'Learn about CSS styles and components offered by MMCSS and how to use MMCSS in your projects.'
layout: 'docs'
---

block docs-content
  p.
    MMCSS is a minimal modern CSS Framework built upon <a href="http://sass-lang.com/" target="_blank">Sass</a>. Build fast, modern and mobile friendly sites without the bloat of JavaScript libraries.

  p.
    Primary goal of MMCSS is to be a small size CSS library and yet provide enough styles and components for building a modern website.
    Licensed under <a href="#{site.github}blob/master/LICENSE.md" target="_blank">MIT license</a>, you are free to use this CSS framework for your personal as well as commercial projects.
