---
title: 'Introduction'
description: 'An introduction to MM.css framework and why you would love it.'
layout: 'docs'
---

block docs-content
  p.
    MM.css is a minimal modern CSS Framework built with <a href="http://sass-lang.com/" target="_blank">Sass</a>.
    Build fast, modern and mobile friendly sites without any dependency on JavaScript libraries.

  h2 Why use MM.css?
  p Here are some of the reason we think will make you love MM.css.

  h3 Small Size
  p.
    MM.css is created to be a small size CSS library which can provide common mimumum styles and components for building a modern website.

  h3 Works out of the box
  p.
    You can use MM.css to kick-start your web project and out of the box it will provide better styling and behaviour to HTML elements.

  h3 Easy to Learn
  p.
    You can learn to work with MM.css in a short time. We provide core styles along with utility classes that can be used to create complex layouts. Many examples are provided to help you build website components and layouts with ease.

  h3 Customizable &amp; Extendable
  p.
    Additionaly you can customize the look and feel or build upon the styles to add your own components.

  h3 Zero Code Bloat &amp; JavaScript Free
  p.
    Anything that can bloat the CSS framework and is not suitable for general website style has been intentionally left out.
    Moreover, all the functionalities offered by MM.css are purely CSS i.e. no jQuery or any other JavaScript framework.

  h3 Normalize.css Alternative
  p.
    MM.css also works as an opinionated <a href="https://necolas.github.io/normalize.css/" target="_blank">normalize.css</a> alternative and you dont need to add any other CSS reset libraries when using MM.css.

  h3 Open Source &amp; Free
  p.
    Licensed under <a href="#{site.github}/blob/master/LICENSE.md" target="_blank">MIT license</a>, you are free to use this CSS framework for your personal as well as commercial projects.
