extends ./../_layouts/_layout-docs.pug

block vars
    - var title = 'Docs'
    - var description = 'Learn about CSS styles and components offered by MMCSS and how to use MMCSS in your projects.'

block docs-content
  h2#Introduction Introduction
  p Learn about CSS styles and components offered by MMCSS and how to use MMCSS in your projects.
  .section
    p.text-large.text-center Docs are being written..
