extends ./../_layouts/_layout-docs.pug

block vars
    - var title = 'Docs'
    - var description = 'Documentation of MMCSS framework. Learn about CSS styles and components offered by MMCSS and how to use MMCSS in your projects'

block docs-content
    .container-readable
      .section-large
        nav
          ul
              li
                  a(href='/docs/text') Text
              li
                  a(href='/docs/markup-and-formatting') Markup and Formatting
              li
                  a(href='/docs/lists') Lists
              li
                  a(href='/docs/forms') Forms
              li
                  a(href='/docs/buttons') Buttons
              li
                  a(href='/docs/grid') Grid
              li
                  a(href='/docs/searchform') Search Form
      .section
        p.text-large.text-center Docs are being written..
