extends ./../_layouts/_layout-docs.pug

block vars
  - var title = 'Installation'
  - var description = 'Learn how to install MMCSS framework and use it in your projects.'

block docs-content
  p You can download MMCSS
    a(href=site.github + "releases/latest")  latest release
    |  and use <code>dist/mm.min.css</code> in your project or use it via CDN as shown below.
    pre &lt;link href="https://unpkg.com/mmcss/dist/mm.min.css" rel="stylesheet"&gt;

  p However, we recommend that you use <code>mm.scss</code> in your project, so that you can add your own style overrides. See below for instructions.

  h3.h4 Install via npm
  pre npm install mmcss --save

  h3.h4 Include MMCSS in your project
  p Ensure <code>node_modules</code> is added to your Sass <a href="http://stackoverflow.com/questions/6502313/sass-import-a-file-from-a-different-directory" target="_blank">includes/load_paths</a>. If you are using <a href="https://mmpilot.kunruchcreations.com/" target="_blank">MMPilot</a> for building your project, this would have already been taken care for you.
  p If you are using Sass (recommended) to build your stylesheets then add the following code
  pre.
    @import 'mmcss/src/mm';
  p You can also include the dist (compiled and minified) version directly if you don't want to do any style overrides.
  pre @import 'mmcss/dist/mm';