---
title: 'Labels'
description: 'Labels of different shapes, sizes and colors in MM.css - Minimal Modern CSS Framework.'
layout: 'docs'
---

block docs-content
  div
    div
      h2 Default Labels
      p
      .code-example
        .code-output
          .mt
            .d-inline.px.border-rounded.text-small.bg-dark.text-light.mr-1 Default Label
            .d-inline.px.border-rounded.text-small.bg-primary.text-light.mr-1 Primary Label
            .label.label-light.mr-1 Light Label
            .label.label-ghost.mr-1 Ghost Label
            .label.label-ghost-light.mr-1 Ghost Light Label
        pre
          code.
            #{'<!-- Default Labels -->'}
      h2 Rounded Labels
      p
      .code-example
        .code-output
          .mt
            .label.label-rounded.mr-1 Default Label
            .label.label-primary.label-rounded.mr-1 Primary Label
            .label.label-light.label-rounded.mr-1 Light Label
            .label.label-ghost.label-rounded.mr-1 Ghost Label
            .label.label-ghost-light.label-rounded.mr-1 Ghost Light Label
        pre
          code.
            #{'<!-- Default Labels -->'}
      h2 Labels Inside Elements
      p
      .code-example
        .code-output
          .mt
            h2 Heading With Label
              .label.label-rounded.text-small New
            h3 Heading With Label
              .label.label-ghost.text-small New
            button.button-primary
              span.mr-1 Button with Label
              .label.label-light.label-rounded 12
            p
              a.label.mr-1(href="#") Link Label
              a.label.label-primary.mr-1(href="#") Link Label Primary
              a.label.label-light.mr-1(href="#") Link Label Light
              a.label.label-ghost.mr-1(href="#") Link Label Ghost
        pre
          code.
            #{'<!-- Default Labels -->'}