---
title: 'Labels'
description: 'Labels of different shapes, sizes and colors in MM.css - Minimal Modern CSS Framework.'
layout: 'docs'
---

block docs-content
  div
    div
      h2 Label Styles
      p
      .code-example
        .code-output
          .mt
            .d-inline.px.py-1.text-small.bg-dark.text-light.mr-1 Default Label
            .d-inline.px.py-1.border-soft.text-small.bg-primary.text-light.mr-1 Primary Label
            .d-inline.px.py-1.border-soft.text-small.bg-green.text-white.mr-1 Green Label
            .d-inline.px.py-1.border-soft.text-small.border.border-red.text-red.mr-1 Red Outline Label
            .d-inline.px.py-1.border-rounded.text-small.border.border-purple.text-purple.mr-1 Purple Rounded Label
        pre
          code.
            #{'<!-- Label Styles -->'}
      h2 Labels Inside Elements
      p
      .code-example
        .code-output
          .mt
            h2 Heading
              .d-inline.px-2.py-1.border-rounded.text-small.bg-red.text-white.ml-2 New
            p
              button.button.button-primary
                span.mr-1 Button with Label
                .d-inline.px-2.border-rounded.text-small.bg-light.text-dark.ml-2 12
        pre
          code.
            #{'<!-- Labels inside elements -->'}