---
title: 'Layout Examples'
description: 'Layout examples to learn how to use MMCSS in your projects.'
layout: 'docs'
---

block docs-content
  p.
    In order to illustrate how to use MMCSS for creating the webpage layout, we have included a few examples below:

  h2.h3 Single Column Layout
  p This single column layout consists of a header, main content and a footer created with <code>header</code>, <code>container-content</code> and <code>footer</code> classes respectively.
  p
    a(href="http://codepen.io/kanishkkunal/pen/NjWGGa?editors=1100#0", target="_blank")
      img(src="/img/layouts/single-column-layout.png")
  div.text-center.text-small
    a.button.button-primary(href="http://codepen.io/kanishkkunal/pen/NjWGGa?editors=1100#0", target="_blank") View on CodePen
  p In this example, instead of <code>container-content</code>, you can also use <code>container-wide</code> for a wider containaer, or <code>container-readable</code> for a narrow container suitable for readable text.
  p If you use the <code>container</code> class instead, you will get a full width container.
  
  
  h2.h3 Two Columns Layout
  p The two column layout consists of a grid with two columns of equal width along with the header and footer. On smaller screens, the columns will expand to occupy full width and will be placed one below the other.
  p
    a(href="http://codepen.io/kanishkkunal/pen/YVzWpq?editors=1100", target="_blank")
      img(src="/img/layouts/two-columns-layout.png")
  div.text-center.text-small
    a.button.button-primary(href="http://codepen.io/kanishkkunal/pen/YVzWpq?editors=1100", target="_blank") View on CodePen
  p Instead of <code>container-content</code>, you can also use <code>container-wide</code> for a wider containaer or <code>container</code> for a full width container in this example layout.
  
  h2.h3 Three Columns Grid Layout

  h2.h3 Content with Sidbar Layout

  