extends ./../_layouts/_layout-docs.pug

block vars
    - var title = 'Layout Examples'
    - var description = 'Layout examples to learn how to use MMCSS in your projects.'

block docs-content
   .section
    p.text-large.text-center Docs are being written..
