---
title: 'Layout Examples'
description: 'Layout examples to learn how to use MM.css in your projects.'
layout: 'docs'
---

block docs-content
  p.
    In order to illustrate how to use MM.css for creating the webpage layout, we have included a few examples below:

  h2.h3 Single Column Layout
  p This single column layout consists of a header, main content and a footer created with <code>header</code>, <code>container-content</code> and <code>footer</code> classes respectively.
  p
    a(href="http://codepen.io/kanishkkunal/pen/NjWGGa?editors=1100#0", target="_blank")
      img(src="/img/layouts/single-column-layout.png")
  div.text-center.text-small
    a.button.button-primary(href="http://codepen.io/kanishkkunal/pen/NjWGGa?editors=1100#0", target="_blank") View on CodePen
  p In this example, instead of <code>container-content</code>, you can also use <code>container-wide</code> for a wider containaer, or <code>container-readable</code> for a narrow container suitable for readable text.
  p If you use the <code>container</code> class instead, you will get a full width container.


  h2.h3 Two Columns Layout
  p The two column layout consists of a grid with two columns of equal width along with the header and footer. On smaller screens, the columns will expand to occupy full width and will be placed one below the other.
  p
    a(href="http://codepen.io/kanishkkunal/pen/YVzWpq?editors=1100", target="_blank")
      img(src="/img/layouts/two-columns-layout.png")
  div.text-center.text-small
    a.button.button-primary(href="http://codepen.io/kanishkkunal/pen/YVzWpq?editors=1100", target="_blank") View on CodePen
  p You can add additional cells inside <code>grid</code> and they will automatically span to the next row.

  h2.h3 Three Columns Grid Layout
  p This layout is suitable for displaying content in three columns and multiple rows. On smaller screens, the columns will expand to occupy full width and will be placed one below the other.
  p
    a(href="http://codepen.io/kanishkkunal/pen/pPoRYY?editors=1100", target="_blank")
      img(src="/img/layouts/three-columns-grid-layout.png")
  div.text-center.text-small
    a.button.button-primary(href="http://codepen.io/kanishkkunal/pen/pPoRYY?editors=1100", target="_blank") View on CodePen
  p While only two rows are shown in example, you can add easily additional cells inside the <code>grid</code> and they will automatically span to the  next row.
  p Instead of using <code>one-third</code> for cells, you can use <code>one-fourth</code> for a four column layout.

  h2.h3 Content with Sidbar Layout
  p This is a classic website layout with content on left and sidebar or right. On smaller screens, the sidebar will expand to occupy full width and will be placed below the main content.
  p
    a(href="http://codepen.io/kanishkkunal/pen/aWzGZO?editors=1100", target="_blank")
      img(src="/img/layouts/content-with-sidebar-layout.png")
  div.text-center.text-small
    a.button.button-primary(href="http://codepen.io/kanishkkunal/pen/aWzGZO?editors=1100", target="_blank") View on CodePen
  p Similar to this layout, you can easily create a layout with sidebar on left and content on right.

  p Note that, sidebars created this way have variable width, which depends on width of the browser window.
   |  Instead of this, you can create a <a href="https://superdevresources.com/fixed-width-sidebar/" target="_blank">fixed-width sidebar with fluid content</a>, which is our preferred way of creating layouts having sidebar.

  p You may also find other advanced  <a href="/templates/">MM.css templates</a> for use in your projects.
