---
title: 'Layout Examples'
description: 'Layout examples to learn how to use MMCSS in your projects.'
layout: 'docs'
---

block docs-content
  p.
    In order to illustrate how to use MMCSS for creating the webpage layout, we have included a few examples below:

  h2.h3 Single Column Layout
  p This single column layout consists of a header, main content and a footer created with <code>header</code>, <code>container-content</code> and <code>footer</code> classes respectively.
  p
    img(src="/img/layouts/single-column-layout.png")
  p Instead of <code>container-content</code>, you can also use <code>container-wide</code> for a wider containaer, or <code>container-readable</code> for a narrow container suitable for readable text.
    |  If you use the <code>container</code> class instead, you will get a full width container.
  
  div.text-center
    a.button(href="http://codepen.io/kanishkkunal/pen/NjWGGa?editors=1100#0", target="_blank") View Code on CodePen
  
  h2.h3 Two Columns Layout

  h2.h3 Three Columns Grid Layout

  h2.h3 Content with Sidbar Layout

  