---
title: 'Media'
description: 'Media components of different types in MM.css - Minimal Modern CSS Framework.'
layout: 'docs'
---


block docs-content
  div
    .grid
      .col-fixed.mr
        img(src="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=112&d=mm&r=g").thumbnail-sm.border-circle
      .col
        h3.mt-0 Kanishk Kunal
        div.text-muted.text-small
          a(href="https://twitter.com/kanishkkunal", target="_blank")
            | <svg class="icon icon-github"><use xlink:href="#icon-twitter"></use></svg> @kanishkkunal

  div
    h2 Thumbnails
    .code-example
      .code-output
        .mt
          img(src="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=112&d=mm&r=g").thumbnail-sm.border-circle.mr
          img(src="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=112&d=mm&r=g").thumbnail.border-circle.mr
          img(src="https://secure.gravatar.com/avatar/bb9bf20fb6f55b4af10b0f98c540075f?s=112&d=mm&r=g").thumbnail-lg.border-circle
        .mt
          .thumbnail-sm.border-circle.bg-green.text-white.d-inline-block.mr
            <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
          .thumbnail.border-circle.bg-green.text-white.d-inline-block.mr
            <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>
          .thumbnail-lg.border-circle.bg-green.text-white.d-inline-block
            <svg class="icon icon-check"><use xlink:href="#icon-check"></use></svg>


