---
title: 'Project Structure'
description: 'Recommended way to structure your project when using MMCSS framework.'
layout: 'docs'
---

block docs-content
   .section
    p.text-large.text-center Docs are being written..
