extends ./../_layouts/_layout-docs.pug

block vars
  - var title = 'Search Form'
  - var description = 'Search Form Demo for MMCSS - Minimal Modern CSS Framework'

block docs-content
  form(role='search', method='get', action='')
    input.search-field(type='search', placeholder='Search …', value='', name='s')
  form(role='search', method='get', action='')
    .search-box
      .css-icon-search
      input.search-field(type='search', placeholder='Search with Icon …', value='', name='s')
