---
title: 'Search Form'
description: 'Search Form Demo for MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  form(role='search', method='get', action='')
    input.search-field(type='search', placeholder='Search …', value='', name='s')
  form(role='search', method='get', action='')
    .search-box
      .css-icon-search
      input.search-field(type='search', placeholder='Search with Icon …', value='', name='s')
