---
title: 'Tables'
description: 'Tables styles in MM.css - Minimal Modern CSS Framework'
layout: 'docs'
---

block docs-content
  div
    p Find below styles that you can apply to a table.

    h2 Default Table
    p By default tables are responsive and occupies full width of the container.
    .code-example
      .code-output
        | <table>
        |     <thead>
        |         <tr>
        |             <th>Employee</th>
        |             <th>Job Title</th>
        |             <th>Salary</th>
        |         </tr>
        |     </thead>
        |     <tbody>
        |         <tr>
        |             <td>John Saddington</td>
        |             <td>Software Engineer</td>
        |             <td>$1</td>
        |         </tr>
        |         <tr>
        |             <td>Tom McFarlin</td>
        |             <td>Development Lead</td>
        |             <td>$100K</td>
        |         </tr>
        |         <tr>
        |             <td>Jared Erickson</td>
        |             <td>Test Lead</td>
        |             <td>$100K</td>
        |         </tr>
        |         <tr>
        |             <td>Chris Ames</td>
        |             <td>Product Manager</td>
        |             <td>$100K</td>
        |         </tr>
        |     </tbody>
        | </table>
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Striped Table
    p Use the <code>.table-striped</code> class to apply a zebra stripe style to the table.
    .code-example
      .code-output
        | <table class="table-striped">
        |     <thead>
        |         <tr>
        |             <th>Employee</th>
        |             <th>Job Title</th>
        |             <th>Salary</th>
        |         </tr>
        |     </thead>
        |     <tbody>
        |         <tr>
        |             <td>John Saddington</td>
        |             <td>Software Engineer</td>
        |             <td>$1</td>
        |         </tr>
        |         <tr>
        |             <td>Tom McFarlin</td>
        |             <td>Development Lead</td>
        |             <td>$100K</td>
        |         </tr>
        |         <tr>
        |             <td>Jared Erickson</td>
        |             <td>Test Lead</td>
        |             <td>$100K</td>
        |         </tr>
        |         <tr>
        |             <td>Chris Ames</td>
        |             <td>Product Manager</td>
        |             <td>$100K</td>
        |         </tr>
        |     </tbody>
        | </table>
      pre
        code.
          #{'<!-- TODO -->'}

    h2 Horizontally Scrolling Table
    p Use the <code>.table-auto</code> class to allow table to occupy width as needed and scroll horizontally when it can't fit inside container. You may need to resize the window to see the scroll on table.
    .code-example
      .code-output
        | <table class="table-auto">
        |     <thead>
        |         <tr>
        |             <th>Employee</th>
        |             <th>Job Title</th>
        |             <th>Salary</th>
        |             <th>Rating</th>
        |             <th>Join Date</th>
        |         </tr>
        |     </thead>
        |     <tbody>
        |         <tr>
        |             <td>John Saddington</td>
        |             <td>Software Engineer</td>
        |             <td>$1</td>
        |             <td>68%</td>
        |             <td>10<sup>th</sup> October 2013</td>
        |         </tr>
        |         <tr>
        |             <td>Tom McFarlin</td>
        |             <td>Development Lead</td>
        |             <td>$100,000</td>
        |             <td>98%</td>
        |             <td>6<sup>th</sup> September 2005</td>
        |         </tr>
        |         <tr>
        |             <td>Jared Erickson</td>
        |             <td>Test Lead</td>
        |             <td>$100,000</td>
        |             <td>98%</td>
        |             <td>25<sup>th</sup> March 2006</td>
        |         </tr>
        |         <tr>
        |             <td>Chris Ames</td>
        |             <td>Product Manager</td>
        |             <td>$100,000</td>
        |             <td>98%</td>
        |             <td>7<sup>th</sup> September 2005</td>
        |         </tr>
        |     </tbody>
        | </table>
      pre
        code.
          #{'<!-- TODO -->'}