---
title: 'Utilities'
description: 'Utility classes to modify colors, text etcs in MM.css - Minimal Modern CSS Framework.'
layout: 'docs'
---

block docs-content
  h2 Background Colors
  p Use the <code>bg-*</code> classes to apply different colors to the background.
  .code-example
    .code-output
      .grid.gutters-small.mt-medium
        .col.col-3.col-sm-6
          .card
            .card-body.bg-blue.text-white bg-blue
        .col.col-3.col-sm-6
          .card
            .card-body.bg-green.text-white bg-green
        .col.col-3.col-sm-6
          .card
            .card-body.bg-pink.text-white bg-pink
        .col.col-3.col-sm-6
          .card
            .card-body.bg-purple.text-white bg-purple
        .col.col-3.col-sm-6
          .card
            .card-body.bg-yellow.text-white bg-yellow
        .col.col-3.col-sm-6
          .card
            .card-body.bg-red.text-white bg-red
        .col.col-3.col-sm-6
          .card
            .card-body.bg-teal.text-white bg-teal
        .col.col-3.col-sm-6
          .card
            .card-body.bg-cyan.text-white bg-cyan
        .col.col-3.col-sm-6
          .card
            .card-body.bg-white.border bg-white
        .col.col-3.col-sm-6
          .card
            .card-body.bg-transparent.border bg-transparent
        .col.col-3.col-sm-6
          .card
            .card-body.bg-light bg-light
        .col.col-3.col-sm-6
          .card
            .card-body.bg-dark.text-white bg-dark
        .col.col-12
          .card
            .card-body.bg-primary.text-white bg-primary
    pre
      code.
        #{'<!-- TODO -->'}


  h2 Text Colors
  p Use the <code>text-*</code> classes to apply different colors to the text.
  .code-example
    .code-output
      .grid.gutters-small.mt-medium
        .col.col-3.col-sm-6
          .card
            .card-body.text-blue text-blue
        .col.col-3.col-sm-6
          .card
            .card-body.text-green text-green
        .col.col-3.col-sm-6
          .card
            .card-body.text-pink text-pink
        .col.col-3.col-sm-6
          .card
            .card-body.text-purple text-purple
        .col.col-3.col-sm-6
          .card
            .card-body.text-yellow text-yellow
        .col.col-3.col-sm-6
          .card
            .card-body.text-red text-red
        .col.col-3.col-sm-6
          .card
            .card-body.text-teal text-teal
        .col.col-3.col-sm-6
          .card
            .card-body.text-cyan text-cyan
        .col.col-3.col-sm-6
          .card
            .card-body.bg-dark.text-white text-white
        .col.col-3.col-sm-6
          .card
            .card-body.bg-dark.text-light text-light
        .col.col-3.col-sm-6
          .card
            .card-body.bg-light.text-muted text-muted
        .col.col-3.col-sm-6
          .card
            .card-body.bg-light.text-dark text-dark
        .col.col-12
          .card
            .card-body.text-primary text-primary
    pre
      code.
        #{'<!-- TODO -->'}



  h2 Link Colors
  p Use the <code>text-*</code> classes to apply different colors to the links.
  .code-example
    .code-output
      .grid.gutters-small.mt-medium
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-blue link-blue
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-green link-green
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-pink link-pink
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-purple link-purple
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-yellow link-yellow
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-red link-red
        .col.col-3.col-sm-6
          .card
            .card-body.border
              a(href="#").text-teal link-teal
        .col.col-3.col-sm-6
          .card
            .card-body
              a(href="#").text-cyan link-cyan
        .col.col-3.col-sm-6
          .card
            .card-body.bg-dark
              a(href="#").text-white link-white
        .col.col-3.col-sm-6
          .card
            .card-body.bg-dark
              a(href="#").text-light link-light
        .col.col-3.col-sm-6
          .card
            .card-body.bg-light
              a(href="#").text-muted link-muted
        .col.col-3.col-sm-6
          .card
            .card-body.bg-light
              a(href="#").text-dark link-dark
        .col.col-6
          .card
            .card-body
              a(href="#").text-primary link-primary
        .col.col-6
          .card
            .card-body
              a(href="#") Default link
    pre
      code.
        #{'<!-- TODO -->'}
