---
title: 'Background Colors'
description: 'Background Colors utility classes in MM.css - Minimal Modern CSS Framework.'
layout: 'docs'
---

block docs-content
  p Use the <code>bg-*</code> classes to apply different colors to the background.
  .code-example
    .code-output
      .grid.gutters-small.mt-4
        .col.col-3.col-sm-6
          .p.bg-blue.text-white bg-blue
        .col.col-3.col-sm-6
          .p.bg-green.text-white bg-green
        .col.col-3.col-sm-6
          .p.bg-pink.text-white bg-pink
        .col.col-3.col-sm-6
          .p.bg-purple.text-white bg-purple
        .col.col-3.col-sm-6
          .p.bg-yellow.text-white bg-yellow
        .col.col-3.col-sm-6
          .p.bg-red.text-white bg-red
        .col.col-3.col-sm-6
          .p.bg-teal.text-white bg-teal
        .col.col-3.col-sm-6
          .p.bg-cyan.text-white bg-cyan
        .col.col-3.col-sm-6
          .p.bg-light bg-light
        .col.col-3.col-sm-6
          .p.bg-gray-light bg-gray-light
        .col.col-3.col-sm-6
          .p.bg-gray bg-gray
        .col.col-3.col-sm-6
          .p.bg-gray-dark.text-light bg-gray-dark
        .col.col-3.col-sm-6
          .p.bg-white.border bg-white
        .col.col-3.col-sm-6
          .p.bg-transparent.border bg-transparent
        .col.col-3.col-sm-6
          .p.bg-primary.text-white bg-primary
        .col.col-3.col-sm-6
          .p.bg-dark.text-white bg-dark
    pre
      code.
        #{'<!-- TODO -->'}