$card-padding: $size-element-spacing-small !default;

.card {
  border-radius: $size-default-radius;

  .card-header,
  .card-body,
  .card-footer {
    padding: $card-padding;
    padding-bottom: 0;

    &:last-child {
      padding-bottom: $card-padding;
    }
  }

  .card-image {
    padding-top: $card-padding;

    &:first-child {
      padding-top: 0;

      img {
        display: block;
        border-top-left-radius: $size-default-radius;
        border-top-right-radius: $size-default-radius;
      }
    }

    &:last-child {
      img {
        display: block;
        border-bottom-left-radius: $size-default-radius;
        border-bottom-right-radius: $size-default-radius;
      }
    }
  }
}
