
$color-header-background: #fff !default;
$color-header-text: lighten($color-text, 5) !default;

$color-sub-header-background: rgb(240, 240, 240) !default;

$size-site-title: 1.5;

#header {
    background-color: $color-header-background;
    color: $color-header-text;
    position: relative;
    z-index: 99;

    .site-logo {

    }

    .site-title {
        @include font-size($size-site-title);
        line-height: 1.2;
        margin: 0;

        a {
            color: $color-header-text;

            &:hover {
                border: 0;
            }
        }
    }

    .site-description {
        margin: 0;
    }
}

#sub-header {    
    background-color: $color-sub-header-background;
    
    .sub-heading {
        text-align: center;
        margin: 0;
    }
}