.icon {
  font-size: 120%;
  vertical-align: text-bottom;
  display: inline-block;
  height: 1em;
  width: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

$hamburger-size: 42px;
$hamburger-bar-thickness: 3px;
$hamburger-bar-space: 3px;
$hamburger-paddding: 8px;
$hamburger-transistion-duration: 0.3s;

.css-icon-hamburger {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  font-size: 0;
  text-indent: -9999px;
  transition: background 0.2s;
}

.css-icon-hamburger span {
  display: block;
  position: absolute;
  top: ($hamburger-size / 2) - ($hamburger-bar-thickness / 2);
  left: $hamburger-paddding;
  right: $hamburger-paddding;
  height: $hamburger-bar-thickness;
  background-color: $color-text;
  background-color: currentColor;
  transition: background 0s $hamburger-transistion-duration;
}

.css-icon-hamburger span::before,
.css-icon-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $hamburger-bar-thickness;
  background-color: $color-text;
  background-color: currentColor;
  content: "";
  transition-duration: $hamburger-transistion-duration,
    $hamburger-transistion-duration;
  transition-delay: $hamburger-transistion-duration, 0s;
}

.css-icon-hamburger span::before {
  top: -$hamburger-bar-thickness - $hamburger-bar-space;
  transition-property: top, transform;
}

.css-icon-hamburger span::after {
  bottom: -$hamburger-bar-thickness - $hamburger-bar-space;
  transition-property: bottom, transform;
}
