.icon {
  font-size: 120%;
  vertical-align: text-bottom;
}

//Icons inside buttons
.button .icon + span {
  margin-left: 12px;
}

//Pure CSS Icons
.css-icon-search {
  display: block;
  position: relative;
  overflow: hidden;
  height: 32px;
  width: 32px;
  border: 0;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 3px solid $color-text;
    background: transparent;
    border-radius: 100%;
  }

  &::after {
    content: "";
    background: $color-text;
    display: block;
    position: absolute;
    left: 14px;
    top: 12px;
    width: 3px;
    height: 7px;
    margin-top: 0;
    transform: rotate(-45deg);
  }
}

.css-icon-hamburger {
  display: inline-block;
}

.css-icon-hamburger span {
  content: "";
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $color-text;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
