$size-thumbnail-small: 52px;
$size-thumbnail-medium: 120px;

.media {
}

.thumbnail {
    background-color: $color-background-dark;
    margin-bottom: $size-element-spacing;
}

.thumbnail-medium {
  width: $size-thumbnail-medium;
  height: $size-thumbnail-medium;
}

.thumbnail-small {
  width: $size-thumbnail-small;
  height: $size-thumbnail-small;
}

.thumbnail-rounded {
  border-radius: 100%;
}


// Media display styles
.media-left {
  position: relative;
  display: block;

  .thumbnail {
    position: absolute;
    left: 0;
    top: 2px;
  }

  .media-body {
    position: relative;
    padding-left: $size-element-spacing;
  }

  .thumbnail-small + .media-body {
    margin-left: $size-thumbnail-small;
  }

  .thumbnail-medium + .media-body {
    margin-left: $size-thumbnail-medium;
  }
}

.media-right {
}


// When Icons used instead of images in media
[class*="thumbnail-"] .icon{
    color: $color-text-light;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 30%;
}