$size-thumbnail-small: 52px;
$size-thumbnail-medium: 120px;
$size-thumbnail: 148px;

.media {

}

.thumbnail {
    margin-bottom: $size-element-spacing;
    width: $size-thumbnail;
    height: $size-thumbnail;
}

.thumbnail-medium {
  margin-bottom: $size-element-spacing;
  width: $size-thumbnail-medium;
  height: $size-thumbnail-medium;
}

.thumbnail-small {
  margin-bottom: $size-element-spacing-small;
  width: $size-thumbnail-small;
  height: $size-thumbnail-small;
}

.thumbnail-rounded {
  border-radius: 100%;
}

// Media display styles
.media-left {
  position: relative;
  display: block;

  [class*="thumbnail"] {
    position: absolute;
    margin-bottom: 0;
    left: 0;
    top: 2px;
  }

  .media-body {
    position: relative;
    padding-left: $size-element-spacing;
  }

  .thumbnail + .media-body {
    margin-left: $size-thumbnail;
    min-height:  $size-thumbnail;
  }

  .thumbnail-small + .media-body {
    margin-left: $size-thumbnail-small;
    min-height:  $size-thumbnail-small;
  }

  .thumbnail-medium + .media-body {
    margin-left: $size-thumbnail-medium;
    min-height:  $size-thumbnail-small;
  }
}

.media-right {
  position: relative;
  display: block;

  [class*="thumbnail"] {
    position: absolute;
    margin-bottom: 0;
    right: 0;
    top: 2px;
  }

  .media-body {
    position: relative;
    padding-right: $size-element-spacing;
  }

  .thumbnail + .media-body {
    margin-right: $size-thumbnail;
    min-height:  $size-thumbnail;
  }

  .thumbnail-small + .media-body {
    margin-right: $size-thumbnail-small;
    min-height:  $size-thumbnail-small;
  }

  .thumbnail-medium + .media-body {
    margin-right: $size-thumbnail-medium;
    min-height:  $size-thumbnail-medium;
  }
}


// When Icons used instead of images in media
[class*="thumbnail-"] .icon{
    color: $color-text-light;
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-top: 30%;
}
