.search-box {
    display: inline-block;
    margin-right: $size-element-spacing;
    @include font-size($size-default-text);
}

.search-expandable {
    input[type="search"] {
        width: 200px;
        transition: width .4s;
    }

    input[type="search"]:focus {
        width: 300px;
    }
}

.search-form .search-box {
    position: relative;

    .css-icon-search {
        opacity: 0.4;
        position: absolute;
        right: 0;
        top: 11px;
    }

    input[type="search"] {
        padding-right: 32px;
    }
}
