.search-expandable {
    input[type="search"] {
        width: 200px;
        transition: width .4s;
    }

    input[type="search"]:focus {
        width: 300px;
    }
}

.search-form .search-box {
    position: relative;

    .css-icon-search {
        opacity: 0.5;
        position: absolute;
        left: 8px;
        top: 12px;
    }

    input[type="search"] {
        padding-left: 32px;
    }
}
