.browser-mockup {
  border-top: 1.5em solid rgba(230, 230, 230, 0.8);
  position: relative;
  border-radius: 3px 3px 0 0;
  max-width: 500px;
}

.browser-mockup::before {
  display: block;
  position: absolute;
  content: "";
  top: -1em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab::after {
  display: block;
  position: absolute;
  content: "";
  top: -1.5em;
  left: 5.5em;
  width: 20%;
  height: 0;
  border-bottom: 1.5em solid #fff;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}

.browser-mockup.with-url::after {
  display: block;
  position: absolute;
  content: "";
  top: -0.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: #fff;
}

.browser-mockup > * {
  display: block;
}
