.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $color-background-dark;
  border: 1px solid $color-background-dark;
  border-radius: $size-default-radius;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  padding: 0.3em 1em;
  white-space: normal;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  @include element-spacing(1);

  &:focus,
  &:hover {
    background-color: darken($color-background-dark, $color-darknes);
    border-color: darken($color-background-dark, $color-darknes);
    text-decoration: none;
    outline: 0;
  }

  &[disabled],
  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &.button-ghost {
    background-color: transparent;
    border-color: $color-dark-border;
    color: $color-text;

    &:focus,
    &:hover {
      background-color: $color-background-light;
    }
  }

  &.button-primary {
    background-color: $color-primary;
    border-color: $color-primary;

    &:focus,
    &:hover {
      background-color: darken($color-primary, $color-darknes);
      border-color: darken($color-primary, $color-darknes);
    }
  }

  &.button-light {
    background-color: $color-background-light;
    border-color: $color-background-light;
    color: $color-text;

    &:focus,
    &:hover {
      background-color: darken($color-background-light, $color-darknes);
      border-color: darken($color-background-light, $color-darknes);
    }
  }

  &.button-ghost-light {
    background-color: transparent;
    border-color: $color-text-light;
    color: $color-text-light;

    &:focus,
    &:hover {
      background-color: $color-background-light;
      color: $color-text;
    }
  }

  &.button-text {
    color: inherit;
    background-color: transparent;
    border-color: transparent;
    padding: 0 12px;

    &:focus,
    &:hover {
      color: darken($color-primary, $color-darknes);
    }
  }
}
