input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  background-color: transparent;
  border: 1px solid $color-dark-border;
  border-radius: $size-default-radius;
  box-shadow: none;
  font-weight: $font-weight-normal;
  box-sizing: border-box;
  padding: 8px 12px; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;
  transition: border-color 0.15s ease-in-out;

  &:focus {
    border: 1px solid $color-primary;
    outline: 0;
  }
}

label,
legend {
  font-weight: $font-weight-bold;
  display: block;

  @include element-spacing(1);

  & + * {
    //Anything after label (mostly input elements)
    margin-top: 1em;
  }
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

.inline-icon-left,
.inline-icon-right {
  position: relative;
  @include element-spacing(1);

  .icon {
    position: absolute;
    top: 10px;
    color: $color-gray-dark;
  }

  input,
  select {
    margin-top: 0;
  }
}

.inline-icon-left {
  .icon {
    left: 12px;
  }

  input,
  select {
    padding-left: 2.5em;
  }
}

.inline-icon-right {
  .icon {
    right: 12px;
  }

  input,
  select {
    padding-right: 2.5em;
  }
}
