nav {
  ul {
    list-style: none;
    padding-left: 0;
  }

  li a {
    color: inherit;
  }

  .active > a,
  .current-menu-item > a {
    color: $color-primary;
  }
}

nav ul {
  ul {
    margin-top: $size-element-spacing-small / 2;
    padding-left: $size-element-spacing-small / 2;
  }
}
