// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
  width: 100%;

  @include element-spacing(1);

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background: $color-background-light;
    }
  }

  &.table-auto {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

td,
th {
  border-bottom: 1px solid $color-default-border;
  padding: $size-element-spacing-small;
  text-align: left;
}

th {
  border-bottom-width: 2px;
}
