// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

body {
  color: $color-text;
  font-family: $font-main;

  @include font-size($size-default-text, "em");

  line-height: $line-height-body;
  word-wrap: break-word;
}

p {
  margin-top: 0;
}

cite,
dfn,
em,
i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: $font-weight-medium;
  letter-spacing: -0.01rem;
  line-height: 1.25;
  color: $color-headings;

  @include element-spacing(1);

  margin-top: 1.5em; //headings also carry a top margin for better vertical spacing
}

.h1,
h1 {
  //36px
  @include font-size(2.25 * $size-default-text);
}

.h2,
h2 {
  //28.8px
  @include font-size(1.8 * $size-default-text);
}

.h3,
h3 {
  //24px
  @include font-size(1.5 * $size-default-text);
}

.h4,
h4 {
  //18px
  @include font-size(1.125 * $size-default-text);
}

.h5,
h5 {
  //16px
  @include font-size(1 * $size-default-text);
}

.h6,
h6 {
  //14px
  @include font-size(0.875 * $size-default-text);
}

@include tablet {
  .h1,
  h1 {
    //26px
    @include font-size(1.625 * $size-default-text);
  }

  .h2,
  h2 {
    //21.6px
    @include font-size(1.35 * $size-default-text);
  }

  .h3,
  h3 {
    //19.2px
    @include font-size(1.2 * $size-default-text);
  }
}
