// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-plain: #fff !default;
$color-primary: #00BCD4 !default;
$color-secondary: #263238 !default;
$color-text: #263238 !default;
$color-neutral-light: #f2f2f2 !default;
$color-neutral-dark: #ededed !default;

// Sizes
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$size-element-spacing: 1.5em;
$size-element-spacing-small: 1em;
$size-container-max: 1600px;
$size-container-readable-max: 800px;

$size-default-radius: 3px;

// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$font-main:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-pre: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-line-height-body: 1.58;