extends ./../_layout.pug

block vars
  - var title = 'Grid Demo'
  - var description = 'Grid Demo for MMCSS - Minimal Modern CSS Framework'
  - var path = 'demo/grid.html'

block styles
  style.
    .grid > div > div {
      background-color: #eee;
      border-radius: 3px;
      margin-bottom: 24px;
      text-align: center;
      font-size: 75%;
      font-weight: 500;
      line-height: 3;
    }

block content
    article.container-readable
        h1 Grid
        div.grid.section
          div.one-half
            div HALF
          div.one-half
            div HALF
          div.one-half
            div HALF
          div.one-half
            div HALF

        div.grid.section
          div.one-third
            div ONE-THIRD
          div.one-third
            div ONE-THIRD
          div.one-third
            div ONE-THIRD
          div.one-third
            div ONE-THIRD
          div.one-third
            div ONE-THIRD
          div.one-third
            div ONE-THIRD

        div.grid.section
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
          div.one-fourth
            div ONE-FOURTH
