extends ./../_layouts/_layout-page.pug

block vars
    - var title = 'Guides'
    - var description = 'Learn MMCSS and start building static sites by following these tutorials'

block page-content
    .section-large
      p.text-large.text-center Coming Soon..
    .section
      p.text-center Want us to write a guide on a topic you don't see here? <a href="http://kunruchcreations.com/about-us/contact/" target="_blank">Get in touch</a>