// Rem output with px fallback
@mixin font-size($sizeValue: 1, $unit: "rem") {
	font-size: ($sizeValue * 16) * 1px;
	@if $unit == "em" {
		font-size: $sizeValue * 1em;
	}
	@else {
		font-size: $sizeValue * 1rem;
	}
}