// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-green: #00b96a !default;
$color-mine-shaft: #333333 !default;
$color-tundora: #414141 !default;
$color-concrete: #f2f2f2 !default;
$color-alto: #dedede !default;

$color-plain: #fff !default;
$color-primary: $color-green !default;
$color-primary-dark: darken($color-green, 5) !default;
$color-text: $color-tundora !default;
$color-headings: $color-mine-shaft !default;
$color-neutral-light: $color-concrete !default;
$color-neutral-dark: $color-alto !default;

$color-default-border: $color-neutral-dark !default;
$color-default-box-shadow: rgba(0,0,0,0.1) !default;

// Sizes
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$size-default-text: 1;
$size-article-text: 1.1;

$size-element-spacing: 1.5em;
$size-element-spacing-small: 1em;

$size-container-wide-max: 1600px;
$size-container-content-max: 1180px;
$size-container-readable-max: 740px;

$size-default-radius: 3px;

$size-small-screen: 768px;

// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$font-main: "Open Sans", Helvetica, Arial, sans-serif;
$font-pre: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$line-height-body: 1.675;
$line-height-article: 1.85;