// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-plain: #fff !default;
$color-primary: #00BCD4 !default;
$color-secondary: #263238 !default;
$color-text: #333 !default;
$color-neutral-light: #f8f8f8 !default;
$color-neutral-dark: #dedede !default;

// Sizes
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$size-default-text: 1;
$size-article-text: 1.25;

$size-element-spacing: 1.5em;
$size-element-spacing-small: 1em;
$size-container-max: 100%;
$size-container-content-max: 1400px;
$size-container-readable-max: 740px;

$size-default-radius: 3px;

$size-small-screen: 768px;

// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$font-main:  Source Sans Pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-pre: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-line-height-body: 1.675;