// Colors
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-blue: #4a89dc !default;
$color-green: #8cc152 !default;
$color-pink: #d770ad !default;
$color-purple: #967adc !default;
$color-yellow: #f6bb42 !default;
$color-teal: #37bc9b !default;
$color-red: #e9573f !default;
$color-cyan: #4fc1e9 !default;

// Grays
$color-gray-lighter: #f6f7f8 !default;
$color-gray-light: #e7e9ec !default;
$color-gray: #cbd0d5 !default;
$color-gray-dark: #808c99 !default;
$color-gray-darker: #394047 !default;

// White and black
$color-white: #fff !default;
$color-black: #22262a !default;

// Main theme colors
$color-primary: $color-blue;
$color-light: $color-gray-lighter;
$color-dark: $color-gray-darker;

// Color map used to generate element styles
$colors: (
  "primary": $color-primary,
  "white": $color-white,
  "blue": $color-blue,
  "green": $color-green,
  "pink": $color-pink,
  "purple": $color-purple,
  "yellow": $color-yellow,
  "teal": $color-teal,
  "red": $color-red,
  "cyan": $color-cyan,
  "gray-light": $color-gray-light,
  "gray": $color-gray,
  "gray-dark": $color-gray-dark,
  "light": $color-light,
  "dark": $color-dark
);

// Background color
$color-body: $color-white !default; // white background
$color-background-light: $color-gray-lighter !default;
$color-background-dark: $color-gray-darker !default;

// Text colors
$color-text: $color-gray-darker !default;
$color-headings: $color-black !default;
$color-text-light: $color-gray-light !default;
$color-text-muted: $color-gray-dark !default;

// Border colors and shadow
$color-default-border: $color-gray-light !default;
$color-dark-border: $color-gray !default;
$color-default-shadow: rgba(0, 0, 0, 0.1) !default;

// intensity for color lightnes and darkness
$color-lightness: 5 !default;
$color-darkness: 5 !default;

// Sizes
// Everything is defined in 3 sizes. Small, default (or medium) & large
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$size-small-text: 0.875 !default;
$size-default-text: 1 !default;
$size-large-text: 1.25 !default;
$size-element-spacing-small: 1rem !default;
$size-element-spacing: 1.5rem !default;
$size-element-spacing-large: 2rem !default;
$size-container-wide-max: 1600px !default;
$size-container-content-max: 1180px !default;
$size-container-readable-max: 760px !default;

$size-spacer: 1rem !default;
// Map used to generate spacing utility classes
$spacing: (
  "base": 1 * $size-spacer,
  "1": 0.25 * $size-spacer,
  "2": 0.5 * $size-spacer,
  "3": 1 * $size-spacer,
  "4": 1.5 * $size-spacer,
  "5": 3 * $size-spacer,
  "auto": auto
);
// screen sizes
$screen-sm: 540px;
$screen-md: 960px;
// anything above 980px is lg
$size-default-radius: 3px !default;
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif !default;
$font-pre: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$line-height-body: 1.6 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-medium: 600 !default;
$font-weight-thin: 300 !default;
