@mixin container($max-width) {
	padding-right: $size-element-spacing-small;
    padding-left: $size-element-spacing-small;
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
}

.container-full {
    @include container(100%);
}

.container-wide {
    @include container($size-container-wide-max);
}

.container-content {
    @include container($size-container-content-max);
}

.container-readable {
    @include container($size-container-readable-max);
}