.entry-title {
  margin-bottom: $size-element-spacing-small;

  a {
    color: $color-headings;
  }

  a:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

.entry-footer,
.entry-meta {
  @include font-size($size-default-text);

  color: lighten($color-text, 40);

  > span {
    margin-left: $size-element-spacing-small;
  }

  > span:first-child {
    margin-left: 0;
  }

  a {
    color: lighten($color-text, 20);
  }
}
