$color-footer-background: $color-background-dark !default;
$color-footer-text: $color-text-muted !default;

.site-footer {
    background-color: $color-footer-background;
    color: $color-footer-text;
    border-top: 1px solid $color-default-border;
    margin-top: $size-element-spacing-big;
}