$size-site-title: 1.5;
$size-site-header-line-height: 42px;
$size-header-padding: $size-element-spacing;

$color-header-background: $color-background-dark !default;
$color-header-text: $color-text-light !default;

$header-border: none !default;

$color-sub-header-background: $color-background-dark !default;
$color-sub-header-text: $color-text-light !default;

.site-header {
    background-color: $color-header-background;
    border-bottom: $header-border;
    color: $color-header-text;
    padding-top: $size-header-padding;
    padding-bottom: $size-header-padding;
    z-index: 99;
    position: relative;
    text-align: center;
}

.header-left {
    position: absolute;
    left: $size-header-padding;
    top: $size-header-padding;
}

.header-right {
    position: absolute;
    right: $size-header-padding;
    top: $size-header-padding;
}

.site-title {
    @include font-size($size-site-title);
    font-weight: $font-weight-medium;
    line-height: $size-site-header-line-height;
    letter-spacing: 0.05em;
    margin: 0;

    a {
        color: $color-header-text;

        &:hover {
            border: 0;
        }
    }
}

.site-description {
    margin: 0;
}

.site-header {
    .search-form {
        margin: 0;

        input, .search-box {
            margin: 0;
        }
        
        input[type="submit"] {
            display: none;
        }

        input[type="search"] {
            border-color: transparent;
            background: darken($color-header-background, 4);
            font-style: italic;
        }
    }
}

.site-sub-header {
    background-color: $color-sub-header-background;
    color: $color-sub-header-text;
    text-align: center;
    margin-bottom: $size-element-spacing-big;

    h1, h2 {
        font-weight: $font-weight-medium;
        color: $color-sub-header-text;
        margin-top: 0;
    }

    h1:last-child, h2:last-child {
        margin-bottom: 0;
    }
}