$size-site-title: 1.5 !default;
$size-site-header-height: 72px !default;
$color-header-default-background: $color-body !default;
$color-header-default-text: $color-headings !default;

.header {
  background-color: $color-header-default-background;
  color: $color-header-default-text;
  z-index: 99;
  text-align: center;
  position: relative;
  line-height: $size-site-header-height;
  height: $size-site-header-height;

  .menu {
    font-size: 105%;
  }

  a {
    color: inherit;
    opacity: 0.8;
    text-decoration: none;
  }

  .current-menu-item > a,
  a:hover {
    opacity: 1;
  }

  .button {
    margin-top: 0;
  }

  .search-form {
    margin: 0;

    .search-box,
    input {
      margin: 0;
    }

    input[type="submit"] {
      display: none;
    }

    input[type="search"] {
      font-style: italic;
    }
  }
}

// To position header left and right
.header > [class*="container"] {
  position: relative;
}

// Header positioning
.header-left {
  position: absolute;
  left: $size-element-spacing;
  top: 0;
}

.header-right {
  position: absolute;
  right: $size-element-spacing;
  top: 0;
}

.header-right .menu > li.menu-item:last-child {
  padding-right: 0;
}

// Header elements styles
.site-branding {
  color: inherit;

  &:hover {
    border: 0;
  }
}

.site-branding img {
  float: left;
  height: $size-site-header-height;
  width: auto;
  padding: 0.5rem;
}

.site-branding .title {
  display: inline-block;

  @include font-size($size-site-title);

  font-weight: $font-weight-normal;
  line-height: $size-site-header-height;
  color: inherit;
  margin: 0;
}

.site-description {
  margin: 0;
}

@include tablet {
  .header-right {
    right: $size-element-spacing-small;
  }

  .header-left {
    left: $size-element-spacing-small;
  }

  .menu-toggle-content {
    .header-right,
    .header-left {
      position: relative;
      right: 0;
      left: 0;
    }
  }
}
