
$color-header-background: $color-plain !default;
$color-header-text: lighten($color-text, 5) !default;

$color-sub-header-background: $color-secondary !default;
$color-sub-header-text: $color-plain !default;

$size-site-title: 1.5;

.site-header {
    background-color: $color-header-background;
    color: $color-header-text;
    position: relative;
    z-index: 99;

    .site-logo {

    }

    .site-title {
        @include font-size($size-site-title);
        font-weight: 600;
        line-height: 1.2;
        margin: 0;

        a {
            color: $color-header-text;

            &:hover {
                border: 0;
            }
        }
    }

    .site-description {
        margin: 0;
    }
}

.site-sub-header {
    background-color: $color-sub-header-background;
    color: $color-sub-header-text;

    .sub-heading {
        font-weight: 600;
        color: $color-sub-header-text;
        text-align: center;
    }
}
