.main-navigation {
	font-weight: 600;

	ul {
		li {
			float: left;
			position: relative;
			padding-right: $size-element-spacing-small;
			margin: 0;
		}

		a {
			display: block;
			color: $color-text;
			text-decoration: none;
			border-bottom: none;

			&:hover {
				color: $color-primary;
			}
		}

		ul {
			background: $color-plain;
			margin: 0;
			padding: ($size-element-spacing-small / 2) 0 0;
			border: 1px solid $color-default-border;
			box-shadow: 0 3px 3px $color-default-box-shadow;
			float: left;
			position: absolute;
			top: $size-element-spacing;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding: 0 $size-element-spacing-small ($size-element-spacing-small / 2);

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				min-width: 160px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
}
