@mixin section($padding) {
	padding-top: $padding;
    padding-bottom: $padding;
}


.section {
    @include section($size-element-spacing);
}

.section-medium {
    @include section(2 * $size-element-spacing);
}

.section-large {    
    @include section(3 * $size-element-spacing);
}

.section-hero {    
    @include section(3 * $size-element-spacing);
    
    h1, h2 {
        font-weight: $font-weight-light;        
        color: inherit;
        letter-spacing: 0;
        margin-top: $size-element-spacing;
        margin-bottom: $size-element-spacing;
    }
}

.section-highlight {
    background-color: $color-background-light;
}