$color-nav-text: rgba(255, 255, 255, 0.6) !default;
$color-nav-text-active: $color-plain !default;
$color-nav-text-hover: $color-plain !default;
$size-nav-text: 0.875 * ($size-default-text) !default;

.main-navigation {
	@include font-size($size-nav-text);

	ul {
		li {
			position: relative;
			display: inline-block;
			padding: 0 ($size-element-spacing / 2);
			margin: 0;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			line-height: $size-site-header-line-height;
		}

		a {
			display: block;
			color: $color-nav-text;
			text-decoration: none;
			border-bottom: none;

			&:hover {
				color: $color-nav-text-hover;
			}
		}
		
		.current-menu-item a {
			color: $color-nav-text-active;
		}

		ul {
			background: $color-header-background;
			margin: 0;
			padding: 0;
			float: left;
			position: absolute;
			top: $size-site-header-line-height;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				padding: 0 ($size-element-spacing-small / 2);				
				text-transform: none;

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				min-width: 160px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: $size-element-spacing-small * -(1/2);
		}
	}
}
