$color-sub-header-default-background: $color-body !default;
$color-sub-header-default-text: $color-text !default;

.sub-header {
  background-color: $color-sub-header-default-background;
  color: $color-sub-header-default-text;
}
