extends ./_layout.jade

block vars
  - var title = 'Minimal Modern CSS Framework'
  - var description = 'A Minimal Modern CSS Framework for front-end Web Development. WordPress Compatible and built with SASS/SCSS'
  - var path = ''

block content
    div#sub-header.section-hero.site-sub-header
        .container-content
            h2.h1 A Minimal Modern CSS Framework
            .text-center
                a.button.button-rounded.button-ghost(href="#") Get Started
    
    .container-content
        ul
            li
                a(href='/demos/text.html') Text
            li
                a(href='/demos/markup-and-formatting.html') Markup and Formatting
            li
                a(href='/demos/lists.html') Lists
            li
                a(href='/demos/forms.html') Forms
            li
                a(href='/demos/buttons.html') Buttons
            li
                a(href='/demos/grid.html') Grid
            li
                a(href='/demos/searchform.html') Search Form
