extends ./_layout.jade

block vars
  - var title = 'Minimal Modern CSS Framework'
  - var description = 'A Minimal Modern CSS Framework for front-end Web Development. WordPress Compatible and built with SASS/SCSS'
  - var path = ''

block content
    div.section-hero.sub-header.text-center
        .container-content
            img(src="/img/mmcss.png")
            h2 A Minimal Modern CSS Framework
            p.text-center.text-muted latest release v0.5.0 - MIT License
            .text-center
                a.button.button-primary(href="#") Download
    .section-large.section-highlight
        .container-content
            h3.text-center Why use MMCSS?
            ul
                li
                    a(href='/demos/text.html') Text
                li
                    a(href='/demos/markup-and-formatting.html') Markup and Formatting
                li
                    a(href='/demos/lists.html') Lists
                li
                    a(href='/demos/forms.html') Forms
                li
                    a(href='/demos/buttons.html') Buttons
                li
                    a(href='/demos/grid.html') Grid
                li
                    a(href='/demos/searchform.html') Search Form
    #quickstart.container-readable.section-large
        h3.text-center Quickstart Guide