extends ./_layout.jade
include ./_mixins.jade

block vars
  - var title = 'Minimal Modern CSS Framework'
  - var description = 'A Minimal Modern CSS Framework for front-end Web Development. WordPress Compatible and built with SASS/SCSS'
  - var path = ''

block content
    div#sub-header.site-sub-header
        .container-content.section-hero
            h2.sub-heading.h1 A Minimal Modern CSS Framework
            .text-center
                a.button.button-rounded(href="#") Get Started
    
    .container-content
        ul.section-block
        li
            a(href='/demos/text.html') Text
        li
            a(href='/demos/markup-and-formatting.html') Markup and Formatting
        li
            a(href='/demos/lists.html') Lists
        li
            a(href='/demos/forms.html') Forms
        li
            a(href='/demos/buttons.html') Buttons
